{% extends 'base.html' %}

{% block content %}
<h3>{% block title %}Home{% endblock %}</h3>
<p>
    <h1><strong>PROG2</strong></h1>
    <p>Semesterarbeit im Modul PROG2</p>
    
    <h2><strong>Beschreibung</strong></h2>
    <p>Studierende sollen die Möglichkeit haben ihren persönlichen Studienplan zu entwerfen/erstellen. Im DBM Studium müssen verschiedene Wahlpflichtmodule in unterschiedlichen Modulgruppen (Sozial- & Methodenkompetenzen, Information Technology, User Experience, Digital Innovation) gewählt werden.</p>
    
    <p>Studierende sollen die Möglichkeit haben, die einzelnen bzw. die gewählten Module in die einzelne Semester einzutragen (evtl. mit Drag and Drop).</p>
    
    <p>Das Programm soll absolvierte/bestandene Module speichern und die ECTS-Punkte automatisch berechnen.</p>
    
    <p>Es soll eine Übersicht erstellt werden, wo die Studierenden sehen wie viele ECTS-Punkte pro Modulgruppe bereits absolviert wurden.</p>
    
    <p>Anschl. soll berechnet werden wie viele (Module/ECTS-Punkte) noch benötigt werden, um die Mindestanzahl an Punkten in der jeweiligen Modulgruppe zu bekommen.</p>
    
    <p>Je nach Aufwand könnte das Projekt noch mit den Noten und dem Notenschnitt erweitert werden.</p>
    
    <p>Ich müsste somit alle Pflicht- und Wahlpflichtmodule den einzelnen Modulgruppen zuweisen und eine allgemeine Übersicht erstellen um die Module eintragen zu können.</p>
    
    <h2><strong>Übersicht Vollzeitstudium:</strong></h2>
    <p><img src="Übersciht Vollzeitstudium-1.png" alt="Übersciht Vollzeitstudium"></p>
    
    <p><a href="https://www.fhgr.ch/studium/bachelorangebot/wirtschaft-und-dienstleistung/digital-business-management/">Alle Informationen zum Studium und den Modulen</a></p>
</p>
{% endblock %}